#ifrm1{
  display: inline-block;
  border-top: red 3px solid;
  border-right: red 3px solid;
  border-left: red 3px solid;
  border-bottom: red 3px solid;
}

#ifrm2{
  display: inline-block;
  border-top: green 3px solid;
  border-right: green 3px solid;
  border-left: green 3px solid;
  border-bottom: green 3px solid;
}

